    @using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceFundamentalsWeb.Models.ViewModels.CheckOutViewModel

<div>
    Shipping rates
    <ul>
        @foreach (var rate in Model.ShippingRates)
        {
            <li>@rate.Name @rate.Money.Amount.ToString("0.00")</li>
        }
    </ul>

</div>


<div>
    Make your choices
    @using (@Html.BeginForm("CheckOut", "Checkout", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.SelectedShippingId, new SelectList(Model.ShippingMethods, "ShippingMethodId", "DisplayName"))
            @Html.DropDownListFor(m => m.SelectedPaymentId, new SelectList(Model.PaymentMethods, "PaymentMethodId", "Name"))

        <button type="submit">Check out</button>
    }
</div>