    @using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceFundamentalsWeb.Models.ViewModels.CheckOutViewModel

<div>
    Shipping rates
    <ul>
        @foreach (var rate in Model.ShippingRates)
        {
            <li>
                <h6>@rate.Name:</h6>
                <p>@rate.Money.ToString()</p>
            </li>
        }
    </ul>

</div>


<div>
    Make your choices
    @using (@Html.BeginForm("CheckOut", "Checkout", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.SelectedShipId, new SelectList(Model.ShipmentMethods, "ShippingMethodId", "DisplayName"))
        @Html.DropDownListFor(m => m.SelectedPayId, new SelectList(Model.PaymentMethods, "PaymentMethodId", "Name"))

        <button type="submit">Check out</button>
    }
</div>