@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Mediachase.Commerce.Orders

@model CommerceFundamentalsWeb.Models.ViewModels.CartViewModel

<div>
    Cart page
</div>

<div>
    ------------
</div>
<div>
    Processing messages:
    @Model.WarningMessage
</div>


<div>
    LineItems
    <ul>
        @foreach (var item in Model.LineItems)
        {
            <li>
                Code: @item.Code
                Placed Price: @item.PlacedPrice.ToString("C")
                Qty: @item.Quantity.ToString("####")
            </li>
        }
    </ul>
</div>

<div>
    Cart total: @Model.SubTotal
    @if (Model.OrderDiscount.Amount > 0)
    {
        <span>Cart Discount: </span>@Model.OrderDiscount.Amount.ToString("0.00");
        <br/>
        @Model.PromotionMessage
    }
</div>

<div>
    @using (@Html.BeginForm("Checkout", "Cart", null ))
    {
    <button class="btn btn-sm btn-link">Check Out</button>
    }
</div>
